<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View User</title>
</head>

<body>
    <div align="center">
        <h2 align="center">View User</h2>
        <table align="center" border="1">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Password</td>
                <td>Gender</td>
                <td>Hobby</td>
                <td>City</td>
                <td>Image</td>
                <td>Images</td>
                <td>Action</td>
            </tr>
            <% alldata.map((val,i)=>{ %>
                <tr>
                    <td>
                        <%= ++i %>
                    </td>
                    <td>
                        <%= val.username %>
                    </td>
                    <td>
                        <%= val.useremail %>
                    </td>
                    <td>
                        <%= val.userpassword %>
                    </td>
                    <td>
                        <%= val.gender %>
                    </td>
                    <td>
                        <%= val.hobby %>
                    </td>
                    <td>
                        <%= val.city %>
                    </td>
                    <td>
                        <img src="<%= val.image %>" width="100" alt="">
                    </td>
                    <td>
                        <ul>
                            <% val.images.map((img)=>{ %>
                                <li style="margin-bottom: 20px;"> <img src="<%= img %>" width="100" /></li>
                                <% }) %>
                        </ul>

                    </td>
                    <td>
                        <a href="/deleteuser?id=<%= val.id %>">Delete</a>
                        <a href="/edituser?id=<%= val.id %>">Edit</a>
                    </td>
                </tr>
                <% }) %>


        </table>
        <a href="/add">Add</a>
    </div>
</body>

</html>